<!-- 스프링의 원리는 집어치우고, 눈에보이는 결과물에 집중해보자!
        그러기위한게 스프링부트 프레임워크를 쓰는 의미이니.. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first j8</title>
    <a href="/member/save">회원가입</a>  <!-- 회원가입을 위한 주소는 멤버에세이브를 통하도록 -->
    <a href="/member/login">로그인</a>   <!-- 이렇게 2개의 링크를 만들어보자 어떻게될까? -->

    <!--html에서 먼가를 하면, 보통 클라이언트(사용자가 웹브라우저로 뭔가하는걸의미) 요청(Request)이 발생했다 라함 -->
    <!-- 이 Request 요청을 가장먼저 받아주는 부분이 컨트롤러다.. 그래서 쌍이었군..ㅋ 자주나오고.
            이제, dto, vo, dao 이런애들을 알아봐야하는데 이건 부트가아닌 스프링기본내용이려나..ㅋ 건너뛰어도될듯? 나중에채우잨.-->
</head>
<body>
    <h4>히히</h4>
</body>
</html>


<!--파트1
    여기가 홈페이지같은 개념이라고 보면됨.
 그리고 이 페이지에서 회원가입, 회원관리 프로젝트 진행할 것!
 모든시작은 여기서 시작되어서 index 근본이라고 이름지은거군..ㅋ
 뭐, 로그인페이지로 이동한다던가, 회원가입 페이지로 이동한다던가,, 회원목록을 본다던지
 하려면 링크를 달아서 이동하는거군..ㅋ 오케이..-->


<!--part2
    링크를 클릭하면 그 링크가 컨트롤러로, 우리서버로 요청이되고
       ㅡ>
                <-- 서버, 컨트롤러에서 이 요청에 해당하는 (회원가입,로그인,목록이라던가, 해당페이지를) 띄워주도록!

                그러려면 가장간단하게 먼저! a태그를 이용하는거군 ㅋ -->


<!--파트3
이렇게 html로 요청-> 컨트롤러가 받아주니

        요청처리해주는 컨트롤러를 만들어보자!-->